
body{
    background-color:#ffffff;
    margin: auto;
}

.top{
    margin:auto;
    width: 310px;
}

#container{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    font-size: 30px;
    width: 310px;
    aspect-ratio: 4/5;    
  }

input{
    text-align: end;
    margin-left: 0px;
    margin-top: 3px;
    border-radius: 20px;
    font-size: 30px;
    width: 320%;
    height: 97%;
}

button{
    display: inline-block;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #42454a;
    background: linear-gradient(180deg, #42454a 0, #313039);
    box-shadow: 0 1px 3px 1px #000;
    color: #fff;
    vertical-align: top;
    text-align: center;
    text-shadow: 0 1px 1px #000;
    font: 20px "Consolas", "Monaco", monospace;
    cursor: pointer;
}

.ce{
    float: right;
    width: 70px;
    margin: 0px 0px 5px 0px;
    height: 60px;
}

h1{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.operator{
    background-color: rgba(134, 130, 130, 0.5);
}

buttonhover{
    background-color: rgb(122, 122, 122);
}

.fas{
    font-size: 30px;
}

.history{
        width: 50%;
        position :absolute;
        top: 15%;
        left :50%;
        transform: translate(-50%, -2000px);
        background-color: #333;
        color :#333;
        border-radius :20px;
        transition: all 1.3s ease-in-out;
        padding :10px
         
}

.history.show{
        transform: translate(-50%, 0);
}

.sub{
    background-color: rgb(70, 69, 69);
    color: white;
    font-size: 25px;
    font-weight :bold;
    border-radius :10px;
}
p{
    font-size: 20px;
    color: white;
}

spen{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 1024px) {

    .top{
        width: 72vw;
    }
    
    #container{
        width: 100%;
    }
}


